# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules

#Readme
README.md

# Frontend
/car-auction-frontend/node_modules
/car-auction-frontend/dist
/car-auction-frontend/dist-ssr
/car-auction-frontend/*.local
/car-auction-frontend/.env

# Backend
/car-auction-backend/.env
/car-auction-backend/node_modules

# Ignore everything in public/temp
/car-auction-backend/public/temp/*

# But keep the .gitkeep file
!car-auction-backend/public/temp/.gitkeep


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
